{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":9,"column":20},"end":{"row":10,"column":0},"action":"insert","lines":["",""],"id":11}],[{"start":{"row":10,"column":0},"end":{"row":10,"column":13},"action":"insert","lines":["flask_pymongo"],"id":12}]]},"ace":{"folds":[],"scrolltop":21,"scrollleft":0,"selection":{"start":{"row":10,"column":13},"end":{"row":10,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":0,"state":"start","mode":"ace/mode/text"}},"timestamp":1568107127195,"hash":"172f6467bd56e1944380bd5af086b8383e4e1e61"}