{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":9,"column":20},"end":{"row":10,"column":0},"action":"insert","lines":["",""],"id":11}],[{"start":{"row":10,"column":0},"end":{"row":10,"column":13},"action":"insert","lines":["flask_pymongo"],"id":12}],[{"start":{"row":10,"column":0},"end":{"row":10,"column":13},"action":"remove","lines":["flask_pymongo"],"id":13},{"start":{"row":9,"column":20},"end":{"row":10,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":21,"scrollleft":0,"selection":{"start":{"row":9,"column":20},"end":{"row":9,"column":20},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":0,"state":"start","mode":"ace/mode/text"}},"timestamp":1568107246519,"hash":"bd0b97236bd12f4739926f7566759818a4d3f4cf"}