{% extends "base.html" %} {% block content %}     <!-- Inherits parent template from base.html and injects below block content into the template-->

<div class="header-row">
    <h2>Add Idiom</h2>
</div>

<!-------------------------------------------------------------------------------------- Idiom addition form -->
<div class="container">
    <form action="{{url_for('insert_idiom')}}" method="POST">
        <div class="row">
                    <!-- All input fields display placeholder with instructions of the deisred input to go in that field-->
            <div class="col-6">
                <!-- Field for Spanish idiom-->
                <div class="form-group">
                    <label for="idiom-spanish"><h5>Spanish idiom</h5></label>
                    <textarea class="form-control" id="spanish_idiom" name="spanish_idiom" rows="2" placeholder="Type the idiom in Spahish here..."></textarea>
                </div>

                <!-- Field for literal translation in English-->
                <div class="form-group">
                    <label for="literal-english"><h5>English literal translation</h5></label>
                    <textarea class="form-control" id="english_literal" name="english_literal" rows="2" placeholder="Type the literal translation of the idiom in English here..."></textarea>
                </div>
                
                <!-- Field for meaning in English-->
                <div class="form-group">
                    <label for="meaning-english"><h5>Meaning in English</h5></label>
                    <textarea class="form-control" id="english_meaning" name="english_meaning" rows="3" placeholder="Add a brief descirption of the meaning of the idiom in English here..."></textarea>
                </div>
            </div>
            
            <!-- Field for equivalent idiom in English-->
            <div class="col-6">
                <div class="form-group">
                    <label for="idiom-english"><h5>English idiom</h5></label>
                    <textarea class="form-control" id="english_idiom" name="english_idiom" rows="2" placeholder="Type the equivalent idiom in English here..."></textarea>
                </div>

                <!-- Field for literal translation in Spanish of English idiom-->
                <div class="form-group">
                    <label for="literal-spanish"><h5>Spanish literal translation</h5></label>
                    <textarea class="form-control" id="spanish_literal" name="spanish_literal" rows="2" placeholder="Type the literal translation of the idiom in Spanish here..."></textarea>
                </div>
                
                <!-- Field for menaing in Spanish-->
                <div class="form-group">
                    <label for="meaning-spanish"><h5>Meaning in Spanish</h5></label>
                    <textarea class="form-control" id="spanish_meaning" name="spanish_meaning" rows="3" placeholder="Add a brief descirption of the meaning of the idiom in Spanish here..."></textarea>
                </div>
            </div>
            
            <!-- Add idiom button confirms submition of data input in fields and takes back to idioms page-->
            <button type="submit" class="btn btn-success btn-block" id="add-button" name="action"><strong>Add idiom </strong><i class="fas fa-plus-circle"></i></button>
            <!-- Go back button takes back to idioms page-->
            <a class="btn btn-secondary  btn-block" id="cancel-button" href="{{url_for('get_idioms')}}"><strong>Go back </strong><i class="fas fa-undo-alt"></i></a>
        </div>
    </form>
</div>

{% endblock %}
