{% extends "base.html" %} {% block content %}

<div class="row header-row">
    <div class="col-5">
        <h2>Spanish Idiom</h2>
    </div>
    <div class="col-2">
        <a class="btn btn-success btn-sm add-button" href="{{url_for('add_idiom')}}" role="button"><strong>Add idiom </strong><i class="fas fa-plus-circle"></i></a>
    </div>
    <div class="col-5">
        <h2>English Idiom</h2>
    </div>
</div>
{% for idiom in idioms %}

<div class="row">
    <div class="card col-5">
        <div class="card-body">
            <h5 class="card-title"><em>"{{idiom.spanish_idiom}}"</em></h5>
            <p class="card-text"> {{idiom.english_literal}}</p>
            <p class="card-text">{{idiom.english_meaning}}</p>
        </div>
    </div>
    <div class="card middle-column col-2">
        <h5 class="card-title"><em>Equivalent idiom</em></h5>
        <p class="card-text">Literal translation</p>
        <p class="card-text">Meaning</p>
        <a class="btn btn-primary btn-sm middle-button" href="{{url_for('edit_idiom', idiom_id=idiom._id)}}" role="button"><strong>Edit this idiom </strong><i class="fas fa-edit"></i></a>
        <a class="btn btn-danger btn-sm middle-button" href="{{url_for('delete_idiom', idiom_id=idiom._id)}}" role="button"><strong>Delete this idiom </strong><i class="fas fa-trash-alt"></i></a>

    </div>

    <div class="card col-5">
        <div class="card-body">
            <h5 class="card-title"><em>"{{idiom.english_idiom}}"</em></h5>
            <p class="card-text">{{idiom.spanish_literal}}</p>
            <p class="card-text">{{idiom.spanish_meaning}}</p>
        </div>
    </div>

</div>

{% endfor %}

<div class="row">
    <div class="col">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="{{url_for('get_idioms')}}">1</a></li>
                <li class="page-item"><a class="page-link" href="{{url_for('page_two')}}">2</a></li>
                <li class="page-item"><a class="page-link" href="{{url_for('page_three')}}">3</a></li>
                <li class="page-item"><a class="page-link" href="{{url_for('page_four')}}">4</a></li>
                <li class="page-item"><a class="page-link" href="{{url_for('page_five')}}">5</a></li>
                <li class="page-item"><a class="page-link" href="{{url_for('page_six')}}">6</a></li>
            </ul>
        </nav>
    </div>
</div>


{% endblock %}


