{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col-5">
        <h2>Spanish Idiom</h2>
    </div>
    <div class="col-2"></div>
    <div class="col-5">
        <h2>English Idiom</h2>
    </div>
</div>
{% for idiom in idioms %}

<div class="row">
    <div class="card col-5">
        <div class="card-body">
            <h5 class="card-title">"{{idiom.spanish_idiom}}"</h5>
            <p class="card-text"> {{idiom.english_literal}}</p>
            <p class="card-text">{{idiom.english_meaning}}</p>
        </div>
    </div>
    <div class="card middle-column col-2">
        <h5 class="card-title">Equivalent Idiom</h5>
        <p class="card-text">Literal translation</p>
        <p class="card-text">Meaning</p>
    </div>

    <div class="card col-5">
        <div class="card-body">
            <h5 class="card-title">"{{idiom.english_idiom}}"</h5>
            <p class="card-text">{{idiom.spanish_literal}}</p>
            <p class="card-text">{{idiom.spanish_meaning}}</p>
        </div>
    </div>

</div>

{% endfor %} {% endblock %}
